#box{
    font-style: normal;
    width: 350px;
    height:400px;
    background-color:pink;
    border: 2px solid; 
    padding:10px;
    margin-top: 20px;
    border-radius:10px;
}

h2{
 color:blue
}

label{
    margin-right: 10px;
    
}

.name{
    margin-right: 90px;
    
}

.cognome{
    margin-right: 65px;
}

.citta{
    margin-right: 95px;
}

.data{
    margin-right: 90px; 
}

.nazione{
    margin-right: 72px;
}

.numeroTel{
    margin-right: 0px;
}

.email{
    margin-right: 35px;
}

.layout{
    margin-left: 80px;
}
